<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hikes</title>
</head>
<body>
    <h1>All Hikes</h1>
    <header>
        <a href="/hikes/new">Add Hike</a>
    </header>
    <ul>
        <% for (let hike of hikes) { %>
            <li><a href="/hikes/<%= hike._id %>"><%= hike.title %></a></li>
        <%  }%>
    </ul>
</body>
</html>