<% layout('layouts/boilerplate')%>
<form action="/hikes" method="POST">
    <div>
        <label for="'title">Title</label>
        <input type="text" id="title" name="hike[title]">
    </div>
    <div>
        <label for="'title">Location</label>
        <input type="text" id="title" name="hike[location]">
    </div>
    <button>Add Hike</button>
</form>
<footer>
    <a href="/hikes">Back to Hikes</a>
</footer>