<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Hike</h1>
    <div class="col-md-6 offset-md-3 col-xl-6 offset-xl-3">
        <form action="/hikes" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control " type="text" id="title" name="hike[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="title">Location</label>
                <input class="form-control" type="text" id="location" name="hike[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image(s)</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
            </div>
            <!-- <input type="file" name="image" id="" multiple> -->
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="hike[image]" required>
            </div> -->
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" name="hike[price]" placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
                    <div class="valid-feedback">
                    Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="'text" id="description" name="hike[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success">Add Hike</button>
        </form>
        <a href="/hikes">Back to Hikes</a>
    </div>
</div>