<% layout('layouts/boilerplate')%>
<h1><%= hike.title %></h1>
<h2><%= hike.location %></h2>
<form action="/hikes/<%=hike._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>
<footer>
    <a href="/hikes/<%= hike._id%>/edit">Edit</a>
    <a href="/hikes">Back to Hikes</a>
</footer>